##### Imports

In [1]:
import pandas as pd
import nltk
import numpy as np
from gensim.models import Word2Vec
from sklearn.model_selection import train_test_split
import pickle
from sklearn.preprocessing import LabelEncoder

##### Load in Data

In [4]:
headers = ["target", "id", "date", "flag", "user", "text"]
text_df = pd.read_csv("C:/Users/Jennie/Documents/NLP/Project/twitter.csv", names = headers)
text_df = text_df.reset_index(drop = True)
text_df

,target,id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
...,...,...,...,...,...,...
1599995,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599996,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599997,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599998,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599999,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

##### Tokenize Text

In [9]:
# store data by words
data_by_words = []
# loop through texts
for i in text_df['text']:
    # get words, tokenize
    value = nltk.word_tokenize(i)
    data_by_words.append(value)
data_by_words[0]

['@',
 'switchfoot',
 'http',
 ':',
 '//twitpic.com/2y1zl',
 '-',
 'Awww',
 ',',
 'that',
 "'s",
 'a',
 'bummer',
 '.',
 'You',
 'shoulda',
 'got',
 'David',
 'Carr',
 'of',
 'Third',
 'Day',
 'to',
 'do',
 'it',
 '.',
 ';',
 'D']

In [ ]:
# pickle
with open("C:/Users/Jennie/Documents/NLP/Project/data_by_words.pkl", "wb") as file:
    pickle.dump(data_by_words, file)

In [5]:
# load data by words
with open('C:/Users/Jennie/Documents/NLP/Project/data_by_words.pkl', 'rb') as file:
    data_by_words = pickle.load(file)

##### Train Word2Vec model

In [6]:
model = Word2Vec(sentences = data_by_words, vector_size = 100)
model.train(data_by_words, total_examples = len(data_by_words), epochs = 50)

(935599606, 1312369450)

In [7]:
model.wv.save_word2vec_format("C:/Users/Jennie/Documents/NLP/Project/word2vec_100_cbow.model", binary = False)

In [8]:
model = Word2Vec(sentences = data_by_words, vector_size = 200)
model.train(data_by_words, total_examples = len(data_by_words), epochs = 50)

(935624393, 1312369450)

In [9]:
model.wv.save_word2vec_format("C:/Users/Jennie/Documents/NLP/Project/word2vec_200_cbow.model", binary = False)

In [ ]:
model = Word2Vec(sentences = data_by_words, vector_size = 100, sg = 1)
model.train(data_by_words, total_examples = len(data_by_words), epochs = 50)

In [ ]:
model.wv.save_word2vec_format("C:/Users/Jennie/Documents/NLP/Project/word2vec_100_sg.model", binary = False)

In [ ]:
model = Word2Vec(sentences = data_by_words, vector_size = 200, sg = 1)
model.train(data_by_words, total_examples = len(data_by_words), epochs = 50)

In [ ]:
model.wv.save_word2vec_format("C:/Users/Jennie/Documents/NLP/Project/word2vec_200_sg.model", binary = False)